/* general setting */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    transition:background-color 1000ms cubic-bezier(.61,-0.01,.96,.08);
}

body.bgcolor{
    background-color: hsl(37, 42%, 54%,1);
}

h1, h2, h3, h4, h5 {
    font-weight:400;
}

ul{  
    list-style: none;
}

a{
    text-decoration: none;
    color:inherit;
}

img{
    display: block;
}

h2, h3, h4, p{
    font-weight: 300;
}



/* header section */

.primary-header{

    position:fixed;
    top:0px;
    left:0px;

    width:100%;
    height:2.8em;
    
    display:flex;
    justify-content:space-between;
    align-items:center;

    background-color: hsl(0, 0%, 100%, .5);
    
    z-index:1000;
}

/* logo */

.logo{
    margin-left: 2em;
}

/* navigation */

.primary-navigation{

    display: flex;
    gap:1em;

    /* this works */
    /* z-index:800; */

}





/* hamburger and members */

.ham-mem{
    /* position:absolute;
    right:2em; */

    padding-right: 1em;

    z-index: 900;

    display:flex;
    gap:1em;
    align-items: center;

}

.mobile-nav-toggle{
    display:none;
}


.sr-only{
    display: none;
}


/* hero section */

.container {
    

    display:grid;
    grid-template-columns: repeat(12,1fr);

    padding-top:2.8em;

    

    z-index:0;
    
}

.hero {
    grid-column:span 12;
    position:relative;

    /* z-index:0; */
}

.hero-img{
   

    width:100%;

    z-index: -1;

}

.hero-calligraphy {
   

    width:15%;

    position:absolute;
    top:0;
    left:17.5%;

    z-index: 0;;
}


/* subnavi section */


.subnavi{
    grid-column:span 12;
}

.subnavi-card {
    width:60%;
    position:relative;
    overflow:hidden;
    margin-top:.5em;
    margin-inline: auto;
}

.subnavi-navi-card-image{
    width:100%;
    overflow:hidden;
}

.subnavi-img{
    display:block;

    width:100%;
    object-fit: contain;

    aspect-ratio: 1/1;

    opacity:1;

    /* transform:scale(1); */

    transition:all ease-out 600ms;
   
}

.subnavi-card-text {
    position:absolute;
    top:85%;
    left:5%;

    color:hsl(0,0%,90%);

    text-shadow: 1px 1px 0px hsl(0, 0%, 30%, 1);

    opacity:1;
    /* transition:opacity ease-out 600ms; */
    

}

.subnavi-card:hover .subnavi-img {
    opacity:0.5;
    transform:scale(1.2);
    transition:all ease-out 600ms;
    /* transition:transform ease-out 600ms; */

}

/* .subnavi-card:hover .subnavi-card-text {
    opacity:1;
    transition:opacity ease-out 600ms;
} */

.belief-left{
    grid-column: span 12;

    /* padding-block: 1em; */

    background-image: url(../imgs/Rectangle_background_belief.svg);
    background-repeat: no-repeat;
    background-position: right .3em top 2em;
    background-size:90%;

}

.belief-image-container{
    width:90%;
    overflow:hidden;
}

.belief-image-container>img{
    width:100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.belief-right{
    grid-column: span 12;

    display:flex;
    flex-direction:column;
    gap:3em;

    justify-content:center;

    background-image: url("../imgs/texture_01_h800_t20.webp");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: bottom 0 right 25%;

    

}


.belief-right>h1{
            font-size: 2.2rem;
            letter-spacing: -.08em;
            font-weight: 300;
}

.belief-right>p{
    padding-inline: 2.6em 5em;
    font-size: 1.1rem;
}

.h-one{
                 
            opacity:0;

            transform:translate3d(0,2rem,0);

            transition:opacity 1000ms ease-out, transform 1000ms ease-in-out;
  
        }

.belief-right>h1.on{
            opacity:1;
            transform:translate3d(0,0,0);
           
        }



.genre-left{
        grid-column: span 12;

        display:grid;
        grid-template-columns: 1fr;
        
    }


.genre-text{
        grid-column: span 12;

    }


.g-image-container-left-top{
    width:90%;
    overflow: hidden;
    margin:0em 0em 0em auto;
    
}

.g-image-container-left-top>img{
    width:100%;
    aspect-ratio: 1/.75;
    object-fit: contain;
}



.genre-image-right{
    /* grid-row: span 2; */
    
    padding-top:40%;
    display:none;

    display:none;
}

.g-image-container-right{
    width:90%;
    overflow: hidden;
    margin:0em auto 0em 0em;
}

    .g-image-container-right>img{
    width:100%;
    aspect-ratio: 1/1.492537;
    object-fit: contain;
}


.genre-image-left-bottom{

    grid-column: span 1;
    display:none;

    
}

.g-image-container-left-bottom{
    width:40%;
    overflow: hidden;
    margin:0em 0em 0em auto;
    
}

    .g-image-container-left-bottom>img{
    width:100%;
    aspect-ratio: 1/1;
    object-fit:contain;
}

.area-text{
    grid-column:span 12;
}

.area-image{
    grid-column: span 12;
    display:grid;
    grid-template-columns:1fr;
}

.area-image-left{
        grid-column: span 1;
        align-self: self-end;
        display: none;
    }

.a-image-container-left{
    width:75%;
    overflow: hidden;

    margin-inline: auto 0em;
}

.a-image-container-left>img{
    width:100%;
    aspect-ratio: 1/.6666;
    object-fit: contain;
}

.area-image-right{
    grid-column: span 1;

    align-self: self-end;

    
}

.a-image-container-right{
    width:85%;
    overflow: hidden;
}

.a-image-container-right>img{
    width:100%;
    aspect-ratio: 1;
    object-fit:contain
}

.area-image-bottom{
    grid-column: span 1;
    margin-inline: 0em auto;
    display:none;
}

.a-image-container-bottom{
    width:75%;
    overflow: hidden;
    margin-inline: auto;
}

.a-image-container-bottom>img{
    width:100%;
    aspect-ratio: 1/.666666;
    object-fit:contain;
}








/* artist san */

.artist{
    grid-column: span 12;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

    background-color: hsl(84, 62%, 68%);

    
}

.artist-img-container{
    width:80%;
    
    padding-block: 1em;

    
}

.artist-img-container>img{
    width:100%;
    aspect-ratio: 1;
    object-fit: contain;

    
}

.artist-text-card{
    width:80%;

    text-align: center;

    padding-bottom: 2em;

    
}

.artist-text-card>h3{
    font-size: 1.5rem;
    padding-bottom: .1em;
}

.artist-text-card>h4{
    font-size: 1.2rem;
    padding-left: .8em;
    padding-bottom: 1em;
}



/* events */

.events-left{
    grid-column: span 12;
   

    position:relative;

    display:none;

}


.events-right{
    grid-column: span 12;
    
    background-image: url("../imgs/sometsuke_natstu.png");
    background-position: top 0 right 0;
   
    background-repeat: no-repeat;
    background-size: 40%;

    text-align: center;


}

.info-list{
    width:70%;
    display:flex;
    flex-direction: column;

    text-align: left;

    margin-inline:auto;

    padding-block:2em;

   
}

.info-list a {
    display:block;
    border-bottom: 1px solid hsl(0, 0%, 86%,1);
    padding: 1em 0;

}



.info-list>li:first-child {
    border-top: 1px solid hsl(0, 0%, 86%,1);
}

.info-list a:hover {
    background-color:hsl(51, 100%, 85%,.2);
}

.info-text>p> a{
    font-size: .8rem;
}

.info-text>p> a:hover {
    font-weight: bold;
}





/* fotter section */
.footer {
    width:100%;
    /* margin-top: 3em; */

    padding-top: .625em;
    padding-bottom: .625em;

    background-color: hsl(37, 42%, 54%,1);

    display:grid;
    grid-template-columns: 1fr;

    gap:1em;

    color:var(--font--color--dark-background) ;

    font-size: 0.75rem;
    

}

.footer h3{
    /* font-size: 1rem; */
    padding-bottom: 0.5em;
}

.footer-logo{
   text-align: center;
}

.footer-navi{
    text-align: center;
}

.footer-contact{
    text-align: center;
}

.footer-contact>p:nth-child(2){
    padding-bottom: 1em;
}

.footer-contact a {
    display:inline-block;
    padding:.3em .1em;
}

.footer-membership{
    text-align: center;
   
}





/* @media screen and (min-width:768px) */

@media screen and (max-width:767px) {


    .primary-navigation{
        position:fixed;
        inset:0 0 0 30%;

        padding:10em 2em;

        /* sometimes the line below doesn't work  */
        /* background-color:hsl(0 0% 100% 1);
        backdrop-filter:blur(0.3rem); */

        background-color:hsl(0, 0%, 100%, .6);
        backdrop-filter:blur(0.3rem);

        
        display:flex;
        flex-direction: column;
        gap:2em;

        transform:translateX(100%);
        transition:transform ease-out 350ms;


    }

    .primary-navigation[data-visible="true"]{
        transform:translateX(0%);
    }

    .mobile-nav-toggle{
    
        display:block;

        width: 2rem;
        aspect-ratio: 1;
        /* top:2em; */
        

        border:0;
        background-image: url("../imgs/hamburger_svg.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        /* background-color: hsl(43, 100%, 83%,0); */
    }

    .toggle-icon{
        background-image:url("../imgs/arrow_svg.svg");
    }

    /* attribute selector sometimes cause problems */
    /* .mobile-nav-toggle[aria-expanded="true"]{
        background-color: brown;
    } */

    /* .mobile-nav-toggle[aria-expanded="true"]{
    background-image: url("../imgs/arrow_svg.svg");

    } */
}

@media screen and (min-width:768px) {
    
    /* subnavi section */
    .subnavi{
        grid-column:span 3;
    }

    .subnavi-card {
        width:100%;
        margin-top:0;
    /* position:relative;
    overflow:hidden;
    margin-top:.5em;
    margin-inline: auto; */
    }

    /* introduction section */

    .belief-right{
    grid-column: span 6;
    
    }

    .belief-left{
        grid-column: span 6;
    
    }

    .belief-image-container{
        width:95%
    }

    /* genre section */

    .genre-left{
        grid-column: span 8;

        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:.5em;

        

    }

    
    .genre-image-left-top{
        grid-column: span 2;
        align-self:self-end;

        
    }

    .g-image-container-left-top{
        width:90%;
        overflow: hidden;
        margin:0em 0em 0em auto;
       
    }

    .g-image-container-left-top>img{
        width:100%;
        aspect-ratio: 1/.75;
        /* only here */
        object-fit: cover;
        background-color: hsl(84, 62%, 68%);
    }



    .genre-image-right{
        grid-row: span 2;
        
        padding-top:40%;

        display:block;
    }

    .g-image-container-right{
        width:90%;
        overflow: hidden;
        margin:0em auto 0em 0em;
        
    }

     .g-image-container-right>img{
        width:100%;
        aspect-ratio: 1/1.492537;
        object-fit: contain;
    }


    .genre-image-left-bottom{

        grid-column: span 2;
        display: block;
        
    }

    .g-image-container-left-bottom{
        width:40%;
        overflow: hidden;
        margin:0em 0em 0em auto;
        
    }

     .g-image-container-left-bottom>img{
        width:100%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }

     .genre-text{
        grid-column: span 4;

        display: flex;
        flex-direction:column;

        gap:3em;

        padding-right:3em;

        justify-content: center ;

        background-image: url("../imgs/stroke_circle_400.png");
        background-position: top 0% right 0%;
        background-repeat: no-repeat;
    }

    .genre-text>h3{
        font-size: 1.4rem;
    }


    /* area section */

    .area-text{
        grid-column: span 4;

        display: flex;
        flex-direction:column;

        gap:3em;


        justify-content:center ;
        
        padding-left:5em;

        background-image: url("../imgs/stroke_circle_400.png");
        background-position: top 20% left 0%;
        background-repeat: no-repeat;
       



    }

    .area-text>h3{
        font-size: 1.3rem;
    }

    .area-image{
        grid-column: span 8;

        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:.5em;

        background-image: url("../imgs/wheel_images_05_white_500.png");
        background-size:10%;
        background-repeat:no-repeat;
        background-position: right 0% bottom 5%;

    }

    .area-image-left{
        grid-column: span 1;
        align-self: self-end;
        display: block;
    }

    .a-image-container-left{
        width:75%;
        overflow: hidden;

        margin-inline: auto 0em;

        
    }

    .a-image-container-left>img{
        width:100%;
        aspect-ratio: 1/.6666;
        object-fit: contain;
    }

    .area-image-right{
        grid-column: span 1;

        align-self: self-end;

        display:block;
    }

    .a-image-container-right{
        width:85%;
        overflow: hidden;
    }

    .a-image-container-right>img{
        width:100%;
        aspect-ratio: 1;
        object-fit:contain;
    }

    .area-image-bottom{
        grid-column: span 2;
        margin-inline: 0em auto;
        display:block;

    }

    .a-image-container-bottom{
        width:75%;
        overflow: hidden;
        margin-inline: auto;
    }

    .a-image-container-bottom>img{
        width:100%;
        aspect-ratio: 1/.666666;
        object-fit:contain;
    }




    
    


    
    /* artist section */
    .artist{
    grid-column: span 12;
    flex-direction: row;

    padding-left: 10rem;

    background-color: transparent;
    background-image: url(../imgs/blobtry05.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;

    }  
    
    .artist-img-container{
    width:40%;
    
    padding-block: 5em;
    }

    .artist-text-card{
    width:30%;

    }

    


    .events-left{
        grid-column: span 6;
        height:80vh;

        padding-top: 4em;

        position:relative;

        display:block;

        background-image: url(../imgs/Rectangle_background_belief.svg);
        background-repeat: no-repeat;
        background-position: left 0 bottom 20%;
        background-size:65%;
        }



    .events-image-container{
        width:50%;
        overflow: hidden;

        position:absolute;
        top:15%;
        left:20%;


        opacity:0;


        z-index:-1;
        }

    .events-image-container>img{
        width:100%;
        aspect-ratio: 1;
        object-fit: contain;
        }

    .show {
        z-index:1;
        opacity:1;

        transition:opacity ease-out 1000ms;
    }
    /* .events-image-container{
        width:60%;
        overflow: hidden;
    }

     .events-image-container>img{
        width:100%;
        aspect-ratio: 1;
        object-fit: contain;
     } */

    .events-right{
        grid-column: span 6;
        padding-top: 4em;

        text-align: left;

        
    }

    .info-list{
    width:70%;
    display:flex;
    flex-direction: column;

    text-align: left;

    margin-inline: 0em auto;

    padding-block:2em;

   
    }


     /* footer section */
    .footer {
        grid-template-columns: 1fr 17vw 17vw 20vw;
    }

    .footer-logo{
        text-align: left;
        align-self: center;
     }

     
    .footer-navi{
        text-align: left;
    }

    .footer-contact{
        text-align: left;
    }


    .footer-membership{
        text-align: left;
    
    }

}






