
/* setting in general */

*, ::after, ::before{

    margin:0;
    padding:0;
 
    box-sizing: border-box;

}

:root {
    /* set global variables here */
    --gap--flex-list:2em;

    /*set color varibales here  */

    --font-color--main:hsl(11, 17%, 38%, 1);
    --font--color--dark-background:hsl(52, 94%, 94%,1) ;

    --theme-color--yallow--clear:hsl(43, 100%, 83%,.5);
    --theme-color--beige-medium:hsl(35, 45%, 83%,1);
    --theme--color--pale-yellowgreen:hsl(66, 51%, 86%,1);
    --theme--color--sandybrown:hsl(30, 53%, 64%,1);
    --theme--color--tan:hsl(37, 42%, 54%,1);


}


body{

    color:var(--font-color--main);

    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
      
}


a {
    text-decoration: none;
    color:inherit;
}

ul{
    list-style: none;
}

img {
    display:block;
}

h3{
    font-weight:400;
    font-size: 1.5rem;
}

h4{
    font-weight: 400;
    font-size: 1.2rem;
}




/* header section */

.header{

    width:100%;
    height:3.5em;

    background-color:var(--theme-color--yallow--clear);

    display: flex;

    justify-content: space-between;
    align-items: center;

    position:fixed;

    z-index:1000;
}

.logo {
    padding-left: 2em;
}

.main-navi{
    /* list settings */
    /* list-style:none; */

    /* flex settings */
    display:flex;
    flex-direction: column;
    gap:2em;

    /* position and navi block setting */
    position:fixed;
    inset: 0 0 0 45%;
    z-index:1;
    transform:translateX(100%);

    padding:3.5em 2em;

    background-color:hsl(0, 0%, 100%, 0.6);
    backdrop-filter:blur(0.3rem);

    transition:transform ease-out 350ms;
}

.main-navi[data-visible="on"] {
    transform:translateX(0%);
}

.main-navi a{
    display:block;
}

.main-navi a:hover {
    font-weight: bold;
}

.hamburger-toggle {
    /* position and size */
    position:absolute;
    right:2rem;
    z-index:1000;
    width:2rem;
    aspect-ratio: 1;

    border:0;
    background-image: url("../imgs/hamburger_svg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(43, 100%, 83%,0);



}


.hamburger-toggle[aria-expanded="true"]{
    background-image: url("../imgs/arrow_svg.svg");

}



/* hero section */

.container {

    display:grid;
    grid-template-columns: repeat(12,1fr);

    padding-top:3.5em;

    z-index:0;
}

.hero {
    grid-column:span 12;
    position:relative;
}

.hero-img{
   

    width:100%;

    z-index: -1;

}

.hero-calligraphy {
   

    width:21.5104%;

    position:absolute;
    top:0;
    left:13%;

    z-index: 0;;
}


/* subnavi section */

.subnavi{
    grid-column:span 12;
    background-color: hsl(0,0%,60%,1);
}

.subnavi-card {
    position:relative;
    overflow:hidden
}

.subnavi-navi-card-image{
    width:100%;
    overflow:hidden;
}

.subnavi-img{
    display:block;

    width:100%;
    object-fit: contain;

    aspect-ratio: 1/1;

    opacity:1;

    /* transform:scale(1); */

    transition:opacity ease-out 600ms;
    transition:transform ease-out 600ms;
}

.subnavi-card-text {
    position:absolute;
    top:85%;
    left:60%;

    color:hsl(0,0%,90%);

    opacity:0;
    transition:opacity ease-out 600ms;
    transition:trasform ease-out 600ms;

}

.subnavi-card:hover .subnavi-img {
    opacity:0.4;
    transform:scale(1.2);
    transition:opacity ease-out 600ms;
    transition:transform ease-out 600ms;

}

.subnavi-card:hover .subnavi-card-text {
    opacity:1;
    transition:opacity ease-out 600ms;
}




/* introduction section */

.intro{

    grid-column:span 12;
    width:100%;

    background-color: var(--theme-color--beige-medium);
    
    /* settings for subgird */
    display:grid;
    grid-template-columns: subgrid;

    align-items: center;

    padding-top: .5em;

}

.intro a{
    font-size: .8rem;
}

.intro a:hover {
    font-weight: bold;
}




.intro-text {
    width:100%;
}

.intro-text h3 {
    padding-top: 3em;
}

.intro-text p {
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid hsl(11, 17%, 38%, 1);
}

.intro-subgrid-width-text{
    grid-column:span 12;

}

.order-flag {
    order:0
}




.intro-img{
    width:100%;

    overflow: hidden;
}

.intro-subgrid-width-img{
    grid-column:span 12; 
    position:relative;

}

.circle{
    width:100%;

    transform:scale(1);
    transition:transform ease-out 500ms;
}

.ellipse{
    width:100%;

    position: absolute;
    top:0;
    left:0;

    transform:rotate(0deg);
    transition:transform ease-out 500ms;

}

.intro-img:hover .ellipse {
    transform:rotate(90deg);
    transition:transform ease-out 500ms;
}

.intro-img:hover .circle {
    transform:scale(1.1);
    transition:transform ease-out 500ms;
}



/* artist section */

.artist{
    grid-column:span 12;
    width:100%;

    background-color: var(--theme--color--pale-yellowgreen);
    
    /* settings for subgird */
    display:grid;
    grid-template-columns: subgrid;

    align-items: center;

    padding-top: 2em;
    padding-bottom: 2em;

}

.artist-img{
    width:100%;
}

.artist-photo {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}


.artist-text {
    width:100%;
    
}

.artist-text-card {
    width:80%;
    margin-left:auto;
    margin-right:auto;

    text-align: center;
}

.artist-text-card>h3{
    padding-top: 2em;
}


.artist-text-card>p{
    padding-top: 2em;
    padding-bottom:2em;

   
}

.artist-text-card>p> a{
    font-size: .8rem;
}

.artist-text-card>p> a:hover {
    font-weight: bold;
}

.artist-subgrid-width-img{
    grid-column:span 12;
}

.artist-subgrid-width-text{
    grid-column:span 12;
}

/* about section */

.about{
    grid-column:span 12;
    width:100%;

    background-color:var(--theme--color--sandybrown);
    
    /* settings for subgird */
    display:grid;
    grid-template-columns: subgrid;

    align-items: center;

    padding-top: 2em;
    padding-bottom: 2em;

}

.about-img{
    width:100%;
}

.about-photo {
    width:80%;
    margin-left:auto;
    margin-right:auto;
}


.about-text {
    width:100%;
    
}

.about-text-card {
    width:80%;
    margin-left:auto;
    margin-right:auto;

    text-align: center;
}

.about-text-card>h3{
    padding-top:2em;
}

.about-text-card>p{
    padding-top: 2em;
    padding-bottom: 6em;

   
}

.about-text-card>p> a{
    font-size: .8rem;
}

.about-text-card>p> a:hover {
    font-weight: bold;
}




.about-subgrid-width-img{
    grid-column:span 12;
}

.about-subgrid-width-text{
    grid-column:span 12;
}


/* events and info section */

.info{
    grid-column:span 12;
    width:100%;
    
    /* settings for subgird */
    display:grid;
    grid-template-columns: subgrid;

    align-items: center;

    padding-top: 4em;
}


.info-text{
    width:100%;
    text-align: center;
}




.info-list{
    width:70%;
    display:flex;
    flex-direction: column;

    text-align: left;

    margin:3em auto;

   
}

.info-list a {
    display:block;
    border-bottom: 1px solid hsl(0, 0%, 86%,1);
    padding: 1em 0;

}



.info-list>li:first-child {
    border-top: 1px solid hsl(0, 0%, 86%,1);
}

.info-list a:hover {
    background-color:hsl(51, 100%, 85%,.2);
}

.info-text>p> a{
    font-size: .8rem;
}

.info-text>p> a:hover {
    font-weight: bold;
}


.info-img{
    width:83%;
    /* here is a problem needs to be solved */
    height:400px;

    position: relative;

    margin:0 auto;

    padding-bottom: 7em;

}

.info-photo{
    
    width:60%;
    aspect-ratio: 1;
    object-fit:contain;

    position:absolute;
    top:0%;
    left:20%;

    opacity:0;

    z-index:-1;


}

/* .show {
    z-index:1;
    opacity:1;

    transition:opacity ease-out 1000ms;
} */



.info-subgrid-width-img{
    grid-column:span 12;
}

.info-subgrid-width-text{
    grid-column:span 12;
}


/* fotter section */
.footer {
    width:100%;
    /* margin-top: 3em; */

    padding-top: .625em;
    padding-bottom: .625em;

    background-color: var(--theme--color--tan);

    display:grid;
    grid-template-columns: 1fr;

    gap:1em;

    color:var(--font--color--dark-background) ;

    font-size: 0.75rem;
    

}

.footer h4{
    font-size: 1rem;
}

.footer-logo{
   justify-items: center;
    align-self: center;
}

.footer-navi{
    text-align: center;
}

.footer-contact{
    text-align: center;
}

.footer-contact a {
    display:inline-block;
    padding:1em .1em;
}

.footer-membership{
    text-align: center;
   
}






/* for none-mobile */

@media screen and (min-width:768px){

    /* header section */
    .main-navi {
        inset:0 0 0 60%;
    }

    /* subnavi section */
    .subnavi{
        grid-column:span 3;
    }

    /* intro section */
    .intro-subgrid-width-img{
        grid-column:span 4;
    }

    .intro-subgrid-width-text{
        grid-column:span 8;
    }

    .order-flag{
        order:-1
    }

    .intro-text-card{
        width:60%;
        margin-left: 5em;
        margin-right:auto;
    }

    /* well, it's kind of a bandage class, only for reversing .intro-text-card  */
    .intro-text-card-reverse{
        width:60%;
        margin-right: 5em;
        margin-left:auto;
    }


    
    /* artist section */

    .artist {
        padding-top: 10em;
        padding-bottom: 10em;

        background-image: url("../imgs/artist_upper_left.svg"), url("../imgs/artist-upper-right.svg"), url("../imgs/artist-bottom-left.svg"),url("../imgs/artist-bottom-right.svg");
        background-position: 0px 0px, top 0 right 0, bottom 0 left 0, bottom 0 right 0;

        background-repeat: no-repeat;
    }

    .artist-text-card {
        width:50%;
        margin-right:2em;
        margin-left:auto;

        text-align: left;
    }

    /* .artist-text-card>h4{
        transform:translateX(2em);
    } */

   
    .artist-photo {
        width:40%;

        margin-right:auto;
        margin-left:2em;
    }

    .artist-subgrid-width-img{
        grid-column:span 6;
    }

    .artist-subgrid-width-text{
        grid-column:span 6;
    }

    /* about section */

    /* .about{
        background-image: url("../imgs/about_upper_right.svg");
        background-position: top 0 right 0;
        background-repeat: no-repeat;
    } */

    .about-text-card {
        width: 65%;
        margin-left:2em;
        margin-right:auto;

        text-align: left;
        
    }

    
    .about-text-card>p{
        padding-top: 1em;
        padding-bottom: 6em;
    
       
    }
   
    .about-photo {
        width: 60%;

        margin-left:auto;
        margin-right:2em;
    }

    .about-subgrid-width-img{
        grid-column:span 6;
    }

    .about-subgrid-width-text{
        grid-column:span 6;
    }



    /* events and info section */

    .info{
        background-image: url("../imgs/info_somotsuke_natsu.svg");
        background-position: center right 0;
        background-color: hsl(0, 0%, 100%, 0.95);
        background-blend-mode: lighten;
        
        background-repeat: no-repeat;
    }

    .info-text{
        text-align: left;
    }

    .info-text > h3 {
        
        margin-left: 4em;
        margin-right:auto;
    }

    .info-list{
        margin-left: 5em;
        margin-right:auto;
    }

    .info-text > p{
        
        margin-left:5em;
    }

    .info-img{
        /* here is a problem needs to be solved */
        height:500px;
    
    }

    .info-photo{
    
        width:max(55%, 300px);
        aspect-ratio: 1;
        object-fit:contain;
    
        position:absolute;
        top:20%;
        left:35%;
        
        z-index:-1;

        opacity:0;
    
    }

    

    .info-subgrid-width-img{
        grid-column:span 6;
    }

    .info-subgrid-width-text{
        grid-column:span 6;
    }

    /* footer section */
    .footer {
        grid-template-columns: 1fr 17vw 17vw 20vw;
    }

    .footer-logo{
        justify-items: left;
     }

    
}

/* cos some properties might be overwritten, .show is placed here */

.show {
    z-index:1;
    opacity:1;

    transition:opacity ease-out 700ms;
}





