
main{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:1em;


}

div.map{
    grid-column:span 2;
    grid-row:span 2;
    
    
}
div.map-container{
    width: 100%;
    overflow:hidden;
    position:relative;
}

div.map-container>img{
    width:100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.pointer-container{
    position:absolute;
    
}

.pointer{
    animation:1500ms ease-out infinite pointer;
}

.shadow{
    width:74px;
    height:15px;
    border-radius: 50%;
    background-color:darkkhaki;
    animation:1500ms ease-out infinite shadow;
}



@keyframes pointer{
    0%{
        transform:translate3d(0,-2em,0);
        
        opacity:0%;
    }

    70%{
        opacity:100%;
    }

    100%{
        transform:translate3d(0,0em,0);
        
       
    }
}

@keyframes shadow{
    0%{
        opacity:0;
        transform:scale(.2);
    }

    100%{
        opacity:.5;
        transform:scale(.6)
    }
    
}

.pnt-position-kaga{
    top:46%;
    left:53%;
}

.pnt-position-toki{
    top:35%;
    left:69%;
}

.pnt-position-seto{
    top:40%;
    left:66%;
}

.pnt-position-tokoname{
    top:50%;
    left:64%;
}

